@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg_container {
    background-color: #f7f574;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cal_bg_container {
    background-color: #4f4f48;
    height: 78%;
    width: 30%;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.input_element {
    background-color: #ababa2;
    width: 70%;
    border-radius: 30px;
    height: 15%;
    font-size: 45px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    padding-left: 10px;
    background-color: transparent;
    font-family: "Roboto";
    cursor: pointer;
}

.equal_btton {
    background-color: #e88809;
    width: 30%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}